<!DOCTYPE html>
<html>
<head>
    <title>Star Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
</head>
<body>
    {% include "partials/nav.twig" %}
    {% block main_content %}
    {% endblock %}
</body>
</html>