{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <div class='bg'>
        <div class='content'>
            <div class='column'>
                <div class='top'>
                    <a href="/galaxies">
                        <img src='/images/pngwing.com.png' alt="galaxy">
                    </a>
                </div>

                <div class='middle'>
                    <h1>
                        <a href="/galaxies">Galaxies</a>
                    </h1>
                </div>

                <div class='bottom'>
                    <p>
                    A galaxy is a huge collection of gas, dust, and billions of stars 
                    and their solar systems. A galaxy is held together by gravity. 
                    Our galaxy, the Milky Way, also has a supermassive black hole in the middle.
                    When you look up at stars in the night sky, you're seeing other stars in the Milky Way.
                    </p>
                </div>
            </div>

            <div class='column'>
                <div class='top'>
                    <a href="/planets">
                        <img src='/images/pngwing.com(1).png' alt="planet">
                    </a>
                </div>

                <div class='middle'>
                    <h1>
                        <a href="/planets">Planets</a>
                    </h1>
                </div>

                <div class='bottom'>
                    <p>A planet is a celestial body that (a) is in orbit around the Sun, 
                    (b) has sufficient mass for its self-gravity to overcome rigid body forces so that it assumes 
                    a hydrostatic equilibrium (nearly round) shape, 
                    and (c) has cleared the neighbourhood around its orbit.
                    </p>
                </div>
            </div>

            <div class='column'>
                <div class='top'>
                    <a href="/stars">
                        <img src='/images/pngwing.com(2).png' alt="star">
                    </a>
                </div>

                <div class='middle'>
                    <h1>
                        <a href="/stars">Stars</a>
                    </h1>
                </div>

                <div class='bottom'>
                    <p>Stars are the most widely recognized astronomical objects, 
                    and represent the most fundamental building blocks of galaxies. 
                    The age, distribution, and composition of the stars in a galaxy 
                    trace the history, dynamics, and evolution of that galaxy. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}